<div id="phoneNumberMask">
    <div class="phone-container">
        <input maxlength="1" class="phone-container__input text block-size margin">
        <div id="gg" class="phone-container__number text block-size margin">8</div>
        <div class="phone-container__number text block-size margin">.</div>
        <div class="text margin">+(</div>
    </div>
    <div>Error</div>
</div>
